.CustomerRow td {
  padding: 1%;
}
.DeleteBtn {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: rgb(255, 255, 255);
  color:red;
  border-color: red;
}
.DeleteBtn:hover{
    border: 4px solid rgb(255, 110, 110);
    background-color: red;
    color:white;
    font-weight: 700;
}
