.container {
  background-image: url("../../Image/ContactUS-bg.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 84vh;
  color:white;
  display:flex ;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading{
    font-size: 300%;
    padding: 10px;
}
.CallDiv{
    padding: 10px;
    
}
.EmailDiv{
    padding: 10px;
    
}
.CallImg{
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-bottom: -5px;
}
.EmailImg{
    height: 20px;
    width: 20px;
    margin: 5px;
    margin-bottom: -5px;
    margin-left: 30px;
}
