.headerBtn {
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}
.headerlink {
  text-decoration: none;
  color: black;
}

.homecard {
  display: block;
  height: 100vh;
  background-color: rgb(181, 195, 133);
  border: none;
  margin: 0;

}
