.billitem-table{
    border-collapse: collapse;
    
} 
.billitem-table th{
    background-color:rgb(62, 56, 56);
    color:white;
    margin: 5px;
    padding :4px;

} 
.billitem-table tr:nth-child(even){
    background-color:rgb(255, 255, 255) ;
    color:rgb(0, 0, 0);
}
.billitem-table tr:nth-child(odd){
    background-color:rgb(246, 245, 198) ;
    color:rgb(0, 0, 0);
}
.billitem-table tr:hover {
    background-color:rgb(100, 104, 103) ;
}
.billitem-table-column{
    padding: 10px;
}