.bill-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: fit-content; */
}

.bill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* background-color: #98a58c; */
}

.bill-customer-name {
  text-align: left;
  font-size: larger;
  font-weight: bold;
}

.bill-date {
  text-align: right;
}

.bill-body {
  padding: 10px;
}

.bill-amount {
  text-align: right;
  font-size: large;
  font-weight: bold;
}

.bill-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* max-width: fit-content; */
}

.bill-card:hover {
  background-color: rgb(195, 249, 218);
}

.bill-table {
  width: auto;
  max-width: fit-content;
  border: 1px solid;
}
